$--WindowHeaderHeight:55px;

.WindowHeader_convention{
    width: 100%;
    height: $--WindowHeaderHeight;
    /* position: fixed;
    top: 0; */
    background-color: #9478ff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .WindowHeader_black{
    width: 100%;
    height: $--WindowHeaderHeight;
    /* position: fixed;
    top: 0; */
    background-color: #1a222e;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .netImage{
    width: 100%;
    height: calc((100vw - $--WindowHeaderHeight) / 16 * 9);
    display: flex;
  }